@import './utils/variables';
@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.conteiner {
  width: 1600px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 { color: blue; }
h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
div > li { color: blue; }

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 80px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.card {
  display: flex;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }
}


.header {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;

  &-blue { color: #2196f3; }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  justify-content: flex-end;
  font-family: Inter;
}

.nav-list, .contact {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  a {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    
    &:hover { color: #2196f3; }
  }
}

.nav-list {
  justify-content: space-between;
  gap: 30px;
}

.contact {
  justify-content: flex-end;
  gap: 30px;
}


.hero {
  height: 600px;
  text-align: center;
  justify-content: center;
  margin: 50px 0;
  padding: 75px;
  border: 1px;
  background-image: url("../images/background1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;

  button {
    margin-top: 20px;
    background-color: #2196f3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  text-align: center;
  padding: 60px 20px;

  .service-boxes {
    display: flex;
    gap: 20px;
  }
}

.service-boxes {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;

  li { flex: 1 1 calc(25% - 20px); }
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 20px;
}

.member {
  flex: 1 1 calc(25% - 20px);
  text-align: center;
  border: rgb(209, 205, 205) solid 1px;
  border-radius: 4px;
}

img { width: 250px; }


.client {
  ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    min-height: 184px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 120px;
    height: auto;
  }
}


.footer {
  background-color: #2F303A;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.logo-text {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}

.logo-blue-text { color: #2196f3; }
.list-item { color: #FFFFFF; }

.social {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  position: relative;
  bottom: 110px;
  right: 175px;
}

.network {
  display: flex;
  gap: 8px;
  list-style: none;
  margin-top: 40px;
  padding: 0;
  justify-content: center;
  position: relative;
  bottom: 90px;
  right: 175px;

  li a img {
    width: 44px;
    height: 44px;
    background-color: #2c2c3a;
    border-radius: 50%;
    padding: 8px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.3);
      background-color: #1d1d26;
    }
  }
}


.work {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.working, .worker, .works {
  width: 250px;
  height: 50px;
  position: relative;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 15px;
  left: 1px;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s ease;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.active {
    opacity: 1;
    pointer-events: auto;
    .modal {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: translateY(30px) scale(.95);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
  }

  textarea {
    resize: none;
    min-height: 60px;
  }

  .submit-btn {
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;

    &:hover { background: #005fd1; }
  }
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.telegram {
  flex: 1;
  padding: 12px 15px;
  position: relative;
  bottom: 160px;
  left: 600px;
  border-radius: 4px;
  border: solid 1px #FFFFFF4D;
  background: #2F303A;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.container-text {
  color: #FFFFFF;
  position: relative;
  bottom: 185px;
  left: 600px;
}

.form button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 9px 18px;
  font-size: 14px;
  font-weight: bold;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  bottom: 201px;
  left: 815px;

  &:hover { background: #1976d2; }
}

.icon { transition: filter 0.3s ease; }

.client li {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 250ms ease;
}


.client li svg rect,
.client li svg path {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.client li:hover svg rect {
  stroke: #2196f3;
}

.client li:hover svg path {
  fill: #2196f3;
}


.client li:hover {
  transform: translateY(-3px);
}

